{
  "presets": [
    ["env", {
      "useBuiltIns": false,
      "modules": false,
      "loose": true
    }],
    "stage-1",
    "react"
  ],
  "plugins": [
    ["styled-jsx/babel", {
      "plugins": ["styled-jsx-plugin-sass"]
    }]
  ]
}
