.block {
    padding: 20px 10px;
    text-align: center;
    color: grey;
}

.offline {
    margin: 0 0 18px 0;
}

.link {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
    color: inherit;

    &:hover {
        color: #880d10;
    }

    &:last-child {
        margin-right: 0;
    }
}
